google-auth.json
data/extracted_data.csv
data/extracted_logs.csv
data/transactions.csv
data/extracted_traces.csv
data/*.parquet
data/transactions
data/traces
data/db
data/raw/*
notebooks/data
/docker

__pycache__/
experimental_notebooks/results/FIFO_blacklist.csv
experimental_notebooks/results/haircut.csv
experimental_notebooks/results/poison.csv
experimental_notebooks/results/seniority.csv
experimental_notebooks/results/FIFO_blacklist_sum.csv
experimental_notebooks/results/Advanced_FIFO_blacklist.csv
.env
.ipynb_checkpoints/
experimental_notebooks/data/blocks-sorted.csv
experimental_notebooks/data/cache/miners.csv
experimental_notebooks/data/chunk.csv
experimental_notebooks/data/known-addresses.csv
experimental_notebooks/data/mini-traces.csv
experimental_notebooks/data/tornado.csv
experimental_notebooks/results/fifo-rundata.csv
experimental_notebooks/results/fifo-simple-result.csv
experimental_notebooks/results/fifo-simple-rundata.csv

.pdm.toml
.pdm-python
__pypackages__/
target
data/tmp